.c-Paragraph,
.c-Paragraph:after,
.c-Paragraph:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block
}

.c-Paragraph,
.c-Paragraph *,
n-paragraph,
n-paragraph * {
    font-family: Lucas, Open Sans, Helvetica, Arial, sans-serif
}

.c-Paragraph {
    width: 100%
}

.c-Paragraph__xl {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 4px
}

.c-Paragraph__l {
    font-size: 18px;
    font-weight: 300
}

.c-Paragraph__l,
.c-Paragraph__m {
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 4px
}

.c-Paragraph__m {
    font-size: 16px;
    font-weight: 400
}

.c-Paragraph__s {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px
}

.c-Paragraph__s,
.c-Paragraph__xs {
    font-weight: 400;
    margin-bottom: 4px
}

.c-Paragraph__xs {
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0
}

@media screen and (min-width:751px) and (max-width:996px) {
    .c-Paragraph__xl {
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 4px
    }
    .c-Paragraph__l {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 4px
    }
    .c-Paragraph__m,
    .c-Paragraph__s {
        font-size: 12px;
        line-height: 14px
    }
    .c-Paragraph__xs {
        font-size: 10px;
        line-height: 10px
    }
}

@media screen and (max-width:750px) {
    .c-Paragraph__xl {
        font-size: 18px;
        line-height: 26px
    }
    .c-Paragraph__l {
        font-size: 16px;
        line-height: 26px
    }
    .c-Paragraph__m {
        font-size: 14px
    }
    .c-Paragraph__s {
        font-size: 12px
    }
    .c-Paragraph__xs {
        font-size: 10px
    }
}

.c-Paragraph__l a,
.c-Paragraph__l b,
.c-Paragraph__l strong,
.c-Paragraph__xl a,
.c-Paragraph__xl b,
.c-Paragraph__xl strong {
    font-weight: 500
}

.c-Paragraph__m a,
.c-Paragraph__m b,
.c-Paragraph__m strong,
.c-Paragraph__s a,
.c-Paragraph__s b,
.c-Paragraph__s strong,
.c-Paragraph__xs a,
.c-Paragraph__xs b,
.c-Paragraph__xs strong {
    font-weight: 600
}