.c-Heading,
.c-Heading:after,
.c-Heading:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block
}

.c-Heading,
.c-Heading *,
n-heading,
n-heading * {
    font-family: Lucas, Open Sans, Helvetica, Arial, sans-serif
}

.c-Heading {
    width: 100%
}

.c-Heading__l,
.c-Heading__xl {
    margin: 0 auto
}

.c-Heading__m,
.c-Heading__s,
.c-Heading__xs {
    margin-bottom: 8px
}

.c-Heading__xl {
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 12px;
    font-weight: 800;
    text-align: center
}

.c-Heading__l,
.c-Heading__xl {
    text-transform: uppercase;
    margin-bottom: 16px
}

.c-Heading__l {
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 8px;
    font-weight: 300
}

.c-Heading__l strong {
    font-weight: 500
}

.c-Heading__m {
    font-size: 18px;
    letter-spacing: 3px
}

.c-Heading__m,
.c-Heading__s {
    line-height: 24px;
    font-weight: 800;
    text-transform: uppercase
}

.c-Heading__s {
    font-size: 16px;
    letter-spacing: 2px
}

.c-Heading__xs {
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1px;
    font-weight: 800;
    text-transform: uppercase
}

@media screen and (min-width:751px) and (max-width:996px) {
    .c-Heading__xl {
        font-size: 36px;
        line-height: 36px;
        letter-spacing: 4px;
        margin-bottom: 4px
    }
    .c-Heading__l {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 2px;
        margin-bottom: 4px
    }
    .c-Heading__m {
        font-size: 16px
    }
    .c-Heading__m,
    .c-Heading__s {
        line-height: 22px;
        letter-spacing: 1px
    }
    .c-Heading__s {
        font-size: 14px
    }
    .c-Heading__xs {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px
    }
}

@media screen and (max-width:750px) {
    .c-Heading__xl {
        margin-bottom: 4px
    }
    .c-Heading__l,
    .c-Heading__xl {
        letter-spacing: 2px
    }
}

@media screen and (max-width:355px) {
    .c-Heading__l {
        font-size: 26px;
        line-height: 40px;
        margin-bottom: 8px
    }
    .c-Heading__xs {
        font-size: 10px
    }
}