.c-Cta,
.c-Cta:after,
.c-Cta:before,
.c-Cta__text,
.c-Cta__text__icon {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.c-Cta,
.c-Cta * {
    font-family: Lucas, Open Sans, Helvetica, Arial, sans-serif
}

.c-Cta {
    display: inline-flex;
    border: 0;
    text-decoration: none;
    transition: .25s ease;
    cursor: pointer;
    outline: none;
    color: inherit;
    background-color: transparent;
    flex: 1 0 100%;
    padding: 12px 24px;
    border-radius: .25em;
    justify-content: center;
    align-items: baseline;
    margin-top: 24px
}

.c-Cta[href^=tel] {
    text-decoration: inherit;
    color: #876c43
}

.c-Cta::-moz-focus-inner {
    border-style: none;
    padding: 0
}

.c-Cta:-moz-focusring {
    outline: 1px dotted ButtonText
}

.c-Cta:focus {
    outline: 3px solid #3a869d
}

.c.Cta:focus span,
.c.Cta:focus svg {
    outline: none
}

.c-Cta:active,
.c-Cta:hover {
    outline-width: 0
}

.c-Cta:focus .c-Cta__text,
.c-Cta:hover .c-Cta__text {
    text-decoration: none
}

.c-Cta__text__xl {
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 300
}

.c-Cta__text__l {
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 300
}

.c-Cta__text__m {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 400
}

.c-Cta__text__s {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 800
}

.c-Cta__text__xs {
    font-size: 12px;
    letter-spacing: 0;
    font-weight: 400
}

.c-Cta__text {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    hyphens: auto
}

.c-Cta__text__icon {
    margin-left: .25em;
    transform: translateY(1px)
}

.c-Cta--primary,
.c-Cta--primary-transparent,
.c-Cta--subtle {
    min-width: 200px
}

.c-Cta--primary-transparent {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .5s ease-out;
    border: 1px solid #fff;
    padding: 12px 60px;
    border-radius: 3px;
    font-weight: 400;
    box-shadow: 0 1px 9px -1px rgba(13, 12, 12, .5);
    background: transparent
}

.c-Cta--primary-transparent:hover {
    box-shadow: 0 1px 24px 2px rgba(13, 12, 12, .6)
}

.c-Cta--primary-transparent:focus {
    box-shadow: 0 1px 24px 2px rgba(13, 12, 12, .6), inset 0 1px 4px 2px rgba(13, 12, 12, .3)
}

.c-Cta--primary-transparent:after {
    content: "";
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 7px;
    height: 7px;
    transform: rotate(-45deg) translateY(-50%);
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 47%
}

.c-Cta--primary {
    text-transform: uppercase;
    border: 1px solid #876c43;
    background-color: #876c43
}

.c-Cta--primary .c-Cta__text {
    color: #fff !important
}

.c-Cta--subtle {
    border: 1px solid #000
}

.c-Cta--primary .c-Cta__text,
.c-Cta--subtle .c-Cta__text {
    text-transform: uppercase
}

.c-Cta--primary:focus:not(:disabled),
.c-Cta--primary:hover:not(:disabled) {
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, .5)
}

.c-Cta--subtle:focus:not(:disabled),
.c-Cta--subtle:hover:not(:disabled) {
    background-color: #000
}

.c-Cta--subtle:focus:not(:disabled) .c-Cta__text,
.c-Cta--subtle:hover:not(:disabled) .c-Cta__text {
    color: #fff
}

.c-Cta--link {
    border-radius: 0;
    padding: 0 0 2px;
    margin-top: 8px;
    border-bottom: 1px solid transparent
}

.c-Cta--link:not(.c-Cta--gold) .c-Cta__text.c-Cta__text__s {
    font-weight: inherit
}

.c-Zone--light .c-Cta--link:not(.c-Cta--gold):hover,
.c-Zone--light .c-Cta--underline {
    border-color: #000
}

.c-Zone--dark .c-Cta--link:not(.c-Cta--gold):hover,
.c-Zone--dark .c-Cta--underline {
    border-color: #fff
}

.c-Cta--gold:hover {
    border-color: #876c43
}

.c-Cta--inline {
    display: inline
}

.c-Zone--light .c-Cta .c-Cta__text {
    border-color: #000
}

.c-Zone--light .c-Cta .c-Cta__text__icon path {
    fill: #000
}

.c-Zone--dark .c-Cta.c-Cta--subtle {
    border-color: #fff
}

.c-Zone--dark .c-Cta .c-Cta__text__icon path {
    fill: #fff
}

.c-Cta--gold .c-Cta__text {
    font-weight: 600
}

.c-Cta--gold .c-Cta__text,
.c-Zone--dark .c-Cta--gold .c-Cta__text,
.c-Zone--light .c-Cta--gold .c-Cta__text {
    color: #876c43
}

.c-Cta--gold .c-Cta__text .c-Cta__text__icon path,
.c-Zone--dark .c-Cta--gold .c-Cta__text__icon path,
.c-Zone--light .c-Cta--gold .c-Cta__text__icon path {
    fill: #876c43
}

.c-Cta--addToCart_large,
.c-Cta--addToCart_small {
    border: 1px solid #3d8705;
    background-color: #3d8705;
    color: #fff;
    position: relative;
    text-align: center;
    border-radius: 3px;
    margin: 0 auto;
    cursor: pointer
}

.c-Cta--addToCart_small {
    display: block;
    padding: 10px;
    font-size: 23px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .3);
    width: 40px;
    height: 40px
}

.c-Cta--addToCart_small .c-Cta__text__icon {
    margin-left: 0
}

.c-Cta--addToCart_small svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px
}

.c-Cta--addToCart_small svg path,
.c-Zone--light .c-Cta.c-Cta--addToCart_small .c-Cta__text__icon path {
    fill: #fff
}

.c-Cta--addToCart_large {
    display: inline-block;
    transition: all .3s
}

.c-Cta--addToCart_large span {
    font-family: Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: .875rem;
    line-height: 1.2em;
    letter-spacing: 1px
}

.c-Cta--addToCart_large:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .3)
}

.c-Cta-3d-white {
    background-color: #fff;
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid #000;
    display: block;
    margin-left: 0;
    margin-right: 0
}

.c-Cta-3d-white:disabled {
    opacity: .4
}

.c-Cta-3d-white>span {
    color: #000;
    font-weight: 700;
    padding: 0 1rem
}

.c-Cta-3d-white:before {
    content: url(https://www.nespresso.com/shared_res/agility/n-components/summer-2021/svg/icon-3d-black.svg);
    width: 22px;
    height: 22px;
    position: absolute;
    left: .5rem;
    top: 50%;
    transform: translateY(-55%)
}

.c-Cta-3d-white:after {
    content: "";
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    width: 8px;
    height: 8px;
    position: absolute;
    top: 48%;
    right: .5rem;
    transition: .25s;
    transform: translate(-100%, -50%) rotate(45deg)
}

@media screen and (min-width:751px) and (max-width:996px) {
    .c-Cta {
        margin-top: 4px
    }
    .c-Cta__text__xl {
        font-size: 18px;
        line-height: 26px
    }
    .c-Cta__text__l {
        font-size: 14px;
        line-height: 21px
    }
}

@media screen and (max-width:750px) {
    .c-Cta--subtle {
        min-width: auto
    }
    .c-Cta--primary-transparent {
        padding: 12px 20px
    }
    .c-Cta__xl {
        font-size: 18px;
        line-height: 26px
    }
    .c-Cta__l {
        font-size: 16px;
        line-height: 26px
    }
    .c-Cta__m {
        font-size: 14px
    }
    .c-Cta__s {
        font-size: 12px
    }
    .c-Cta__xs {
        font-size: 10px
    }
}